/* фон #FFFFFF; */
/* вторичный фон  #e5e5e5; */
/* цвет заголовков #212121; */
/* цвет основного текста #757575; */
/* акцент #2196F3; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --header-footer-background: #2f303a;
  --accent-color: #2196f3;
  --border-header: #ececec;
  --border-footer: rgba(255, 255, 255, 0.1);
  --border-examples: #eeeeee;
  --footer-bgc: #2f303a;
  --secondary-f-lightgrey-color: rgba(255, 255, 255, 0.6);
  --secondary-flightgrey-color: rgba(255, 255, 255, 0.4);
}

body {
  color: var(--primary-text-color);
  background: var(--primary-background);
  font-family: Roboto, sans-serif;
  color: var(--primary-grey-color);
  letter-spacing: 0.03em;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  align-items: center;

  /* outline: solid 2px #ff0000;*/
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

/* шапка сайта */

.flex {
  display: flex;
  align-items: center;
}

.flex-info .box {
  display: flex;
  margin-left: auto;
}

.page-header-logo {
  display: block;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  color: #2196f3;
}

.logotip {
  color: var(--primary-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-style: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header .info {
  display: flex;
  margin-left: auto;
}

.info .info-item:not(:last-child) {
  margin-right: 50px;
}

.header .adress-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus {
  color: #2196f3;
}

.flex-info {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  margin-right: 50px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  padding: 0;
  margin-left: auto;
  list-style: none;
}

/* section 1  Hero*/

.hero {
  background-color: var(--header-footer-background);
}

.hero {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  text-align: center;
}

.container.align-center {
  align-items: center;
  text-align: center;
}

.hero-title {
  min-width: 700px;

  color: var(--primary-background);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.hero .hero-button {
  padding: 10px 32px;
  display: inline-block;

  min-width: 200px;
  min-height: 50px;
  color: var(--primary-background);
  background-color: var(--accent-color);

  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 40px;

  border-radius: 4px;
  border: 0;
}

.hero .hero-button:hover,
.button:focus {
  background: #188ce8;
}

/* section 2  Внимание к деталям*/

.visually-hidden {
  display: none;
}

ul {
  list-style: none;
}

.attention {
  margin-top: 0;
  margin-bottom: 0;
}

.attention.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.attention .features-list {
  display: flex;
  padding: 94px 0px;
}

.features-list .items {
  /* widtx: 270px; */
  width: calc((100% - 90px) / 4);
}

.features-list .items:not(:last-child) {
  margin-right: 30px;
}

.attention-title {
  color: var(--secondary-black-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.attention .attention-text {
  margin-top: 10;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
}

/* Чем мы занимаемся */

.engage {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.do {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /*outline: 2px solid tomato;*/
}

.engage .engage-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50;
}

.engage-picture {
  display: flex;
}

.engage-item {
  width: calc ((100% - 60%)/3);
}

.engage .engage-item:nth-child(3n) {
  margin-right: 30px;
}

.engage-picture .engage-item:not(:last-child) {
  margin-right: 30px;
}

.image-block {
  display: block;
}

/* section 4  team */

.team {
  text-align: center;
  padding-top: 0;

  background: var(--secondary-background);

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-team {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /*outline: 2px solid tomato;*/

  text-align: center;
  align-items: center;
}

.team .team-item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.team-item > .team-img {
  padding-bottom: 30px;
  background: var(--primary-background);
}

.team-item .team-img:not(:last-child) {
  margin-right: 30px;
}

.team .team-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team .team-text {
  margin-top: 10px;

  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}

.team .team-subtitle {
  margin-top: 30px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* footer */

.footer-nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  /* outline: 2px solid tomato;*/

  align-items: center;
}

.footer {
  background-color: var(--header-footer-background);
}

.footer .logo {
  display: inline-block;
  padding-top: 60px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.footer .logo-text {
  color: #ffffff;
}

.footer .map {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.footer .address {
  margin-top: 20px;
  text-align: left;
}

.footer .contact {
  width: 20%;
  display: block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  align-items: center;
}

/* portfolio */

.portfolio {
  margin-top: 0px;
  margin-bottom: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.filter {
  display: flex;
  align-items: center;
  text-align: center;
  /*justify-content: center;*/
  margin-bottom: 15px;
}

.filter-items:not(:last-child) {
  margin-right: 8px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.content-img:nth-child(3n) {
  margin-right: 0px;
}

.content-items {
  margin-right: 30px;
  margin-top: 34px;
  border: 1px solid var (--border-examples);
  text-align: center;
  align-items: center;
  display: block;
  width: 1200px;
  flex-basis: calc(100% / 3 - 30px);
}

.container.padding {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;

  /*outline: 2px solid tomato;*/
  justify-content: center;
}

.content-items:nth-child(3n) {
  margin-right: 0px;
}

.filter {
  justify-content: center;
}

.filter-items .button {
  color: var(--primary-text-color);
  padding: 6px 22px;
  background: #f5f4fa;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 6px 22px;
  min-width: 73px;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--primary-background);
  background: var(--accent-color);
}

.portfolio-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /*outline: 2px solid tomato;*/
}

.portfolio-content .title {
  margin-top: 30px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.portfolio-content .type {
  margin-top: 10px;

  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}

.portfolio .content-img:not(:nth-child(3n)) {
  margin-right: 30px;
}
