/* фон #FFFFFF; */
/* вторичный фон  #e5e5e5; */
/* цвет заголовков #212121; */
/* цвет основного текста #757575; */
/* акцент #2196F3; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --header-footer-background: #2f303a;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background);
  font-family: Roboto, sans-serif;
  color: var(--primary-grey-color);
  letter-spacing: 0.03em;
  border: 5px solid rgb(71, 255, 132);
  margin-left: 200px;
  margin-right: 200px;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid 2px #ff0000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* шапка сайта */

.header > .container {
  align-items: center;
  display: block;
}

.header {
  border-bottom: 1px solid #3122b8;
}

.header .site-nav {
  display: flex;
}

.header .page-header-logo {
  display: block;
  margin-right: 94px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header .adress-link {
  margin-top: 32px;
  margin-bottom: 32px;
  margin: 48px;
  display: flex;
  min-width: 135px;
  height: 16px;
  justify-content: flex-end;
  outline: 2px solid blueviolet;
}

.header .info {
  display: flex;
  margin-left: auto;
}

/*.info .info-item:not(:last-child) {
  margin-right: 50px;
}*/

.logo {
  color: #2196f3;
}

.logotip {
  color: var(--primary-text-color);
}

.adress-link {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.adress-link:hover,
.adress-link:focus {
  color: #2196f3;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  margin-right: 50px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* section 1  Hero*/

.hero {
  background-color: var(--header-footer-background);
}

.hero .hero-title {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-background);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section 2  Внимание к деталям*/

.visually-hidden {
  visibility: hidden;
}

.attention-title {
  color: var(--secondary-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чем мы занимаемся */

.engage-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

/* footer */

.footer {
  background-color: var(--header-footer-background);
  color: #ffffff;
  font-family: Roboto;
  font-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-text-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
}

.footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: block;
  font-style: normal;
}

.footer .logo-text {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer > .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

/* portfolio */

.filter .link-filter {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
}

.filter .link-filter:hover,
.link-filter:focus {
  background: var(--accent-color);
  color: #ffffff;
}

.link-filter:hover,
.link-filter:focus {
  color: #2196f3;
}

.section {
  color: var(-primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.8;
}
